<mat-card class="mb-3">
  <mat-card-header>
    <div mat-card-avatar style="overflow: hidden;">
      <img [src]="candidate.user.photoURL" width="100%" [alt]="candidate.user.displayName">
    </div>
    <mat-card-title>{{ candidate.user.displayName }}</mat-card-title>
    <mat-card-subtitle>{{ candidate.title }}</mat-card-subtitle>
    <mat-card-actions class="ml-auto pr-2">
      <ng-container *ngIf="candidate.user.uid === auth.user?.uid; else rating">
        <button [routerLink]="['/candidate']"  mat-mini-fab color="primary">
          <mat-icon>create</mat-icon>
        </button>
      </ng-container>
      <ng-template #rating>
        <button (click)="onVote(1)" mat-mini-fab color="primary" [matBadge]="0" matBadgePosition="above after" matBadgeColor="accent">
          <mat-icon>thumb_up</mat-icon>
        </button>
        <button (click)="onVote(-1)" mat-mini-fab color="accent">
          <mat-icon>thumb_down</mat-icon>
        </button>
      </ng-template>
    </mat-card-actions>

    <!--<mat-card-actions class="ml-auto pr-2" *ngIf="!(auth.user$ | async)">-->
      <!--<button (click)="notLoggedIn()" mat-mini-fab>-->
        <!--<mat-icon>thumb_up</mat-icon>-->
      <!--</button>-->
    <!--</mat-card-actions>-->
    <!--<mat-card-actions class="ml-auto pr-2" *ngIf="candidate.user.uid !== (auth.user$ | async)?.uid && ratingService.rating$ | async as rating">-->
      <!--<button (click)="onUpVote()" mat-mini-fab color="primary" [matBadge]="rating[candidate.user.uid] || 0" matBadgePosition="above after" matBadgeColor="accent">-->
        <!--<mat-icon>thumb_up</mat-icon>-->
      <!--</button>-->
      <!--<button (click)="onDownVote()" mat-mini-fab color="accent">-->
        <!--<mat-icon>thumb_down</mat-icon>-->
      <!--</button>-->
    <!--</mat-card-actions>-->
  </mat-card-header>
  <img mat-card-image [src]="candidate.imageURL" [alt]="candidate.title">
  <mat-card-content>
    <p>
      {{ candidate.description }}
    </p>
  </mat-card-content>
</mat-card>
